1st_Trimester/ClassPractice_CSE_1103/1_saif_16.09.17/*.exe
1st_Trimester/ClassPractice_CSE_1103/2_saif_07.10.17/*.exe
1st_Trimester/ClassPractice_CSE_1103/3_saif_28.10.17/*.exe
1st_Trimester/ClassPractice_CSE_1103/4_saif_04.11.17/*.exe
1st_Trimester/ClassPractice_CSE_1103/5_saif_11.11.17/*.exe
1st_Trimester/ClassPractice_CSE_1103/6_saif_18.11.17/*.exe
1st_Trimester/ClassPractice_CSE_1103/7_function_25.11.17/*.exe
1st_Trimester/ClassPractice_CSE_1103/7_function_25.11.17/*.o

2nd_Trimester/*.exe
#3rd_Trimester
#5th_Trimester

1st_Trimester/Saiful_Sir_Assignment/Lab Assign(7.11.17)/01(a) Assign.docx
1st_Trimester/Saiful_Sir_Assignment/Lab Assign(7.11.17)/01(b) Assign.docx
1st_Trimester/Saiful_Sir_Assignment/Lab Assign(7.11.17)/MD. Saif Hossain.docx

5th_Trimester/New_File(Algo)/1_saif_13.01.2019/*.exe
5th_Trimester/New_File(Algo)/2_saif_20.01.2019/*.exe
